@media screen and (min-width: 0) {
    #cabecalho{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;
        width: 100%;
    }
    .nav__menu{
        display: block;
        position: absolute;
        width: 100%;
        top:70px;
        right: 0;
        background: var(--mostarda) ;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }
    .nav__menu-link{
        color: #fff;
        display: block;
        padding: .5rem;
    }
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border:none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburger{
        display: block;
        width: 52px;
        border-top: 4px solid;
    }
    #hamburger::after, #hamburger::before{
        content: '';
        display: block;
        width: 52px;
        height: 4px;
        background: currentColor;
        margin-top: 7px;
        transition: 0.3s;
        position: relative;
    }
    #nav.active .nav__menu{
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    .nav__menu .nav__menu-link{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0,.5);
    }
    #nav.active #hamburger{
        border-top-color: transparent;
    }
    #nav.active #hamburger::before{
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after{
        transform: rotate(-135deg);
        top:-11px
    }
}
@media screen and (min-width: 600px) {
    #cabecalho{
        height: 120px;
    }
    .nav__menu{
        top:120px;
    }
}
@media screen and (min-width: 1065px) {
    #cabecalho{
        flex-direction: column;
        justify-content: space-around;
        height: 120px;
        line-height: 1.6;
    }        
    .nav__menu{
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        visibility: visible;
        overflow-y: visible;
        top: 0;
        gap: .5rem;
    }
    .nav__menu-link{
        color: var(--preto);
        font-size: 1.6rem;
        display: inline-block;
        padding: .5rem;
    }
    #btn-mobile{
        display: none;
    }

    .nav__menu .nav__menu-link{
        border-bottom: 0;
    }
}